/* Navbar search link */
.search-link {
  text-decoration: none;
  color: inherit;
}

/* Remove underline for NavLink */
.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-img-top {
  width: auto; /* Maintain the aspect ratio */
  height: 250px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image covers the area, clipping the excess */
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
}

.price {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: green;
}

.card:hover {
  transform: scale(1.05);
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .card-img-top {
    height: auto; /* Allow the image height to adjust */
    max-height: 550px; /* Set a maximum height */
    width: 100%; /* Make sure the image fills the card width */
    object-fit: cover; /* Ensures the entire image is visible */
  }
}
