/* Navbar search link */
.search-link {
  text-decoration: none;
  color: inherit;
}

/* Remove underline for NavLink */
.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
}

.price {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: green;
}

.card:hover {
  transform: scale(1.05);
}
